@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}
code {
    font-family: 'Ubuntu Mono', monospace;
		font-weight: 400;
}
h1 {
    font-weight: 700;
}
/* links */
a {
    color: #73d216;
    text-decoration: unset;
    font-weight: 700;
}
a:hover {
    text-decoration: underline;
}
/* h1, h2, h3 */
main > article > header > h1 { font-size: 160%; }
main > article h1 { font-size: 116%; }
main > article h2 { font-size: 114%; }
main > article h3 { font-size: 112%; }
main > article h4 { font-size: 108%; }
main > article h5 { font-size: 104%; }
main > article h6 { font-weight: 500; }
h1, h2, h3, h4, h5 {
    font-weight: 700;
}
/* paragraphs */
p:first-child {
    margin-top: 0;
}
/* table */
table {
    margin: 1em auto;
}
table th {
    text-align: left;
}
table th,
table td {
    padding: .2em .4em;
}
/* emphasize */
em {
	font-weight: 700;
	font-style: normal;
}
