body > header {
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
}
body > nav li > a {
	color: white;
	font-weight: bold;
}
body > nav li > a.hover {
	color: #7b1515;
	background-color: rgba(0, 0, 0, 1.0);
}
body > article {
	background-color: rgba(255, 255, 255, 0.6);
}
body > article:first-of-type {
	background-image: url("../img/background-blue-cropped.jpg");
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	color: white;
}
body > article:nth-of-type(2) {
	background: #7b1515;
	color: white;
}
body > article:nth-of-type(3) {
	background: white;
	color: #2e3436;
}
body > article:nth-of-type(4) {
	background: #2e3436;
	color: white;
}
