body {
	padding-top: 74px;
}
body > header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
background: rgb(30, 30, 30);
	box-shadow: 0 6px 2px -2px rgba(30, 30, 30, .25);
	z-index: 10;
}
body > header > h1 {
	margin: 0;
}
body > header > h1 > a > img {
	display: block;
	height: 1.8em;
	width: auto;
	padding-top: .1em;
	margin-left: -.2em;
}
/* p */
body > header > p {
display: none;
}
