html, body {
  scroll-padding-top: 81.0667px;
}
html:not(.home) {
	margin-top: 5em;
}
article {
	max-width: calc(40em + 2em);
	margin: 0 auto;
}
article.mode-body > *:not(.self-link):not(.link)  {
	padding: 0 1em;
}
article > *:not(.self-link):not(.link)  {
	padding: 1em;
}
article > header {
	display: flex;
}
article > header > h1 {
    margin: 0;
}
article:not(:first-child) > header > a,
html.home article > header > a {
    display: none;
}
article > header > :first-child {
	flex-grow: 1;
}
article > header > p > *:not(.article-location),
article > nav {
    display: none;
}
article > main > div.highlight > pre {
    margin: 0 -1em;
    padding: 1em;
}
article > footer {
	display: none;
}
article:not(:first-child) {
    margin-top: 2em;
    margin-bottom: 2em;
}
article:not(:first-child) > * > p {
    margin: 0;
}
article:not(:first-child) > *:not(.self-link):not(.link) > * {
    font-size: 90%;
}
article {
    position: relative;
}
article.summary > main > p:first-child,
article.summary > main > p:last-child {
    display: none;
}

article > .link,
article > .self-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
article > .link > a,
article > .self-link > a {
    display: block;
    width: 100%;
    max-width: 42em;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
}
article > aside:not(.self-link):not(.link) {
	padding: 0;
}
html.home article:not(:nth-child(2)):hover.mode-full,
html.home article.mode-summary,
main.list > article.mode-summary {
	transition: all ease-in-out .1s;
	border-radius: 4px;
}
html.home article:not(:nth-child(2)):hover.mode-full,
html.home article:hover.mode-summary,
main.list > article:hover.mode-summary {
	transform: scale(1.02, 1.02);
	z-index: 2;
}

@media only screen and (min-width: 721px) {
	main.list > article:not(:first-child).has-image:not(.wide):nth-child(odd) > header,
	main.list > article:not(:first-child).has-image:not(.wide):nth-child(odd) > main {
		margin-left: 50%;
		padding-left: 1em;
	}
	main.list > article:not(:first-child).has-image:not(.wide):nth-child(odd) > aside {
		left: 0;
	}
	main.list > article:not(:first-child).has-image:not(.wide):nth-child(even) > header,
	main.list > article:not(:first-child).has-image:not(.wide):nth-child(even) > main {
		margin-right: 50%;
		padding-right: 1em;
	}
	main.list > article:not(:first-child).has-image:not(.wide):nth-child(even) > aside {
		right: 0;
	}
	main.list > article:not(:first-child).has-image:not(.wide) {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	main.list > article:not(:first-child).has-image:not(.wide) > aside {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		overflow: hidden;
	}
	main.list > article:not(:first-child).has-image:not(.wide) > aside > img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	main.list > article:not(:first-child).has-image:not(.wide) {
		border-radius: 4px;
		overflow: hidden;
	}
}
article > aside > img {
	width: 100%;
	height: auto;
}
