<script type="application/ld+json">
	{
		"@id": "https://cogneco.com",
		"@context": "https://schema.org",
		"@type": "Organization",
		"url": "https://cogneco.com",
		"logo": "https://cogneco.com/logo/cogneco-v4b.svg",
		"image": "https://cogneco.com/img/.jpg",
		"name": "Cogneco",
		"legalName": "Cogneco AB",
		"description": "Cogneco provides product and software development services.",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Uppsala",
			"addressCountry": "SE",
			"postalCode": "752 39",
			"streetAddress": "Tegelgatan 29"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "+46-707-680 380",
			"contactType": "Customer service"
		},
		"sameAs": ["https://twitter.com/cogneco","https://www.linkedin.com/company/cogneco","https://github.com/cogneco/"],
		"founder": [
			{
				"@type": "Person",
				"familyName": "Mika",
				"givenName": "Simon",
				"worksFor": "https://payfunc.com",
				"jobTitle": "CTO, Founder",
				"alumniOf": "https://www.uu.se/en/",
				"image": "https://media-exp1.licdn.com/dms/image/C5603AQHqN8E0GzxN-w/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=jG4Anf2ztATruUFEzYuuXySTph9vksR1vPZFbUJUL-A",
				"gender": "http://schema.org/Male",
				"sameAs": ["https://twitter.com/simonjmika","https://linkedin.com/in/simonmika/", "https://simonmika.com/", "https://github.com/simonmika"]
			}
		]
	}
</script>
<link rel="manifest" href='{{ "/manifest.json" | absURL }}'>
<meta name="msapplication-TileColor" content="##1e1e1e">
<meta name="theme-color" content="##1e1e1e">
<script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
